@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

:root{
    --bg-size: 100% 100%;
    --main-color:rgb(255, 255, 255);
    --title: 'Libre Baskerville', serif;
    --font-para: 'New Tegomin', serif;
    --btn-color:#bbe1fa;
    --btn-font-color:#000;
    --btn-font:1.5rem;
    --eff: .3s all ease;
}
*{
    font-family: var(--font-para);
}
html{
    font-size: 62.5%;
}

p,
label,
input::placeholder{
    font-size: 1.9rem;
    line-height: 170%;
    color:#6c757d;

}

figure img,
.fab,
.fas{
    transition: var(--eff);
}

a,
a:hover{
    text-decoration: none;
    cursor:pointer;
}

body{
    background: hsl(60, 6%, 87%);
}

.main_heading {
    font-family: var(--title);
    font-weight: bold;
    font-size: 5rem;
    color: #000;
}

.main_heading__para{
    font-size: 2.2rem;
}

.main_header__div{
    height: calc(100vh - 40vh);
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0)),url('https://wallpapercave.com/wp/JvCoA3p.jpg');
    background-size: var(--bg-size);
}
.main_header__div p{
    font-weight: bold;
    font-size: 3.5rem;
    font-family: var(--title);
    color: var(--main-color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.main_header__div h3{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: var(--title);
    color: var(--main-color);
    position: relative;
    padding-bottom: 2rem;
    transition: var(-eff);
}
.main_header__div span{
    font-family: var(--title);
}
.animateWord div{
    overflow: hidden;
    position:relative;
    float:right;
    height: 6rem;
    padding-top:1rem;
    margin-top:-1rem;
}

.animateWord div li{
    
    font-weight: bold;
    padding: 0 1rem;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display: block;
    font-family: var(--title);
}

.flip{
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}
.main_header__div button{
    color: var(--btn-font-color);
    border-width:0;
    font-size:var(--btn-font);
    transition: var(--eff);
    padding: rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline:none;
}
.main_header__div button:hover, figure img:hover, .left_div__like:hover, .left_div__reply:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}
.first_dance:hover , .second_dance:hover , .third_dance:hover, .fourth_dance:hover{
    cursor: pointer;
}
.blog_left__div h1{
    font-family: var(--title);
    font-weight: bold;
    font-size: 3rem;
}
.blog_left__div .blog_title{
    font-weight: 400;
    font-size:2.2rem;

}

.blog_left__div p b{
    color: #0e202c;
}
.left_div_btns{
    margin-top: 3rem;
    transition:var(--eff);
}
.left_div__like{
    color: var(--btn-font-color);
    
    font-size:var(--btn-font);
    transition: var(--eff);
    padding: rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline:none;
}
.left_div__reply{
    color: var(--btn-font-color);
    
    font-size:var(--btn-font);
    transition: var(--eff);
    padding: rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
    outline:none;
}
.replies{
    margin: 2rem 0;
    padding: 1rem 0;
    transition: var(--eff);
    display: none;
}
.reply_show{
    margin:20px 0;
    transition:var(--eff);
    display:block;
}

/*right style*/


.about_dance__div{
    width: auto;
    height: 40rem;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(208,206,207,0.8) 50%) ,url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-colorful-gorgeous-dancer-silhouette-dance-enrollment-poster-background-material-image_161694.jpg');
    background-size: var(--bg-size);
}
.about_dance__div p:first-child{
    padding-bottom: 0.2rem;
    font-size: 2.2rem;
}
.about_dance__div p{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: #000;
}

.right_div__title{
    background: #b6afb6;
    box-shadow:0, 1rem 3rem -1rem rgba(184, 181, 181, 0.836);
}
.right_div__title h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}
.popular_posts__img1{
    background-image: url('https://i.pinimg.com/236x/e6/91/82/e6918253f521b6f7480479814c76a504.jpg');
    background-size: var(--bg-size);

}
.popular_posts__img2{
    background-image: url(https://1.bp.blogspot.com/-pI_NGiGMpBU/WdhnX9bYUkI/AAAAAAAAJF8/g-KCAigI4H8M7CasO_QoNHapJtCOi53PwCEwYBhgL/s1600/Image01.jpg);
    background-size: var(--bg-size);

}
.popular_posts__img3{
    background-image: url('https://lh3.googleusercontent.com/proxy/s957Y6F_tN7HXOS3dID9kTnCw-zSP5re1iB46WyvpApuzwNQpTL7M5MJvjPmzFqexLOhnAOjf8c9wE5hAskiyHKbUlJJcLGLxwyZI5Zi_7H0TPGJtE81tIkjM8QIlWclAPUBtjdRsoM');
    background-size: var(--bg-size);

}
.popular_posts__img4{
    background-image: url('https://www.salsanewyork.com/magazine/instructors/instructor_images/eths.jpg');
    background-size: var(--bg-size);

}
.right_sub_div{
    background: #fff;
}
.right_sub_div .row{
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.tags_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 12rem));
    grid-gap: .5rem;
}
.tags_main a{
    font-size: 1.7rem;
    line-height: 170%;
    font-weight: lighter;
    background: #6c757d;
    transition: var(--eff);
}
.tags_main a:hover{
    color: var(--btn-font-color);
    background: var(--btn-color);
    transform: translateY(-0.5rem);
}
.advertise_img{
    min-width: 10rem;
    height:20rem;
    display: grid;
    place-items: center;
}
.fab{
    color:black;
}
.fab:hover{
    color: #d0cecf;
    transform: rotate(360deg);
}

@media(max-width:998px){
    html{
        font-size: 60%;
    }
    .left_div__blog{
        margin-top: 3rem 0;
    }
    p,
label,
input::placeholder{
    font-size: 2.2rem;
}
.animateWord div li{
    font-size: 2.8rem;
}

}